[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"

[dev-packages]
"flake8" = "*"
black = "*"
sphinx = "*"
ipdb = "*"

[requires]
python_version = "3.6"
